/**WIDTHS**/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #1a1a1a;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#colored {
	background-color: #cdd5ec;
}

#myname {
	border-style: none;
	font-size: 35px;
}

section {
	background-color: #fff;
	width: 95%;
	min-width: 600px;
	margin: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	text-transform: uppercase;
	font-weight: bold;
	border-style: none none double none;
}

td {
	padding: .5em;
}

tbody {
	vertical-align: top;
	font-size: 12px;
}

#date {
	font-style: italic;
	text-align: right;
	width: 200px;
}

#titleC {
	text-align: center;
	text-transform: uppercase;
}


#titleL {
	text-align: left;
}

p {
	text-indent: 1em;
}


/**TABLE STUFF**/
#left {
	text-align: left;
	vertical-align: middle;
}

#right {
	text-align: right;
	vertical-align: middle;
}

