/**WIDTHS**/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #1a1a1a;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/**HEADERS & CONTENT**/
h1 {
	font-weight: bold;
	font-size: 50px;
}

h2 {
	text-transform: uppercase;
	border-style: none none double none;
	text-align: justify;
	text-indent: 1em;
}

/**SECTIONS**/
.top {
	background-color: transparent;
	padding: 1em;
}

header {
	vertical-align: top;
	width: 100%;
	display: inline-block;
	border: 1px solid red;
}

header table {
	border: 1px solid blue;
}

header img {
	width: 36px;
	height: 36px;
	border: 1px solid black;
}

#rightHead {
	margin: 3em 1em;
	text-align: right;
	vertical-align: middle;
	border: 1px solid magenta;
}

nav {
	width: 100%;
	text-align: right;
	border: 1px solid black;
}

article {
	background-color: rgba(255,255,255,.5);
	border: 1px solid red;
	padding: 1em;
}

section {
	width: 800px;
	margin: 2em auto auto auto;
	border: 1px solid blue;
}


#avatar {
	margin: 1em;
	border-radius: 5em;
}

p {
	vertical-align: top;
	text-align: justify;
	text-indent: 1em;
	border: 1px solid magenta;
}


/**NAV UL**/
nav ul{
	height: auto;
	padding: .5em 0em;
	margin: 0;
	list-style-type: none;
}

nav li{
	padding: .2em;
	display: inline-block;
}

/**TABLE STUFF**/

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid yellow;
}

#colored {
	font-size: 15px;
	font-weight: bold;
	background-color: #9685BA;
}

tbody {
	border: 1px solid blue;
	vertical-align: top;
	font-size: 12px;
}

#date {
	font-style: italic;
	text-align: right;
	width: 200px;
}

#titleC {
	text-align: center;
	text-transform: uppercase;
}


#titleL {
	text-align: left;
}

#right {
	text-align: right;
	vertical-align: middle;
}

/**LINKS**/
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

a:link img, a:visited img {
    opacity: 0.8;
    filter: gray;
    -webkit-filter: grayscale(1)
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

a:hover img, a:focus img, a:active img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}