html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: url(../images/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #1a1a1a;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/**HEADERS & CONTENT**/
h1 {
	font-weight: bold;
	font-size: 50px;
	vertical-align: middle;
	text-indent: .5em;
	color: #FBD4A1;
}

h2 {
	text-align: right;
}

/**SECTIONS**/
.top {
	background-color: rgba(69,71,119, 1);
	padding: .1em;
}

nav {

}

article {
	padding: 1em;
}

section {
	background-color: rgba(250,244,244,.9);
	width: 650px;
	min-height: 100%;
	margin: auto;
}

#avatar {
	margin: 1em;
	float: left;
	border-radius: 5em;
}

p {
	vertical-align: top;
	text-align: justify;
	text-indent: 1em;
}

/**NAV UL**/
nav ul{
	height: auto;
	list-style-type: none;
}

nav li{
	margin-left: .1em;
	margin-right: .1em;
	display: inline-block;
	vertical-align: middle;
}

nav img {
	width: 36px;
	height: 36px;
}

/**TABLE STUFF**/

h1 {
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 40px;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
}

thead {
	background-color: #EEA985;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid black;
}

tr {
	padding: 0;
}

td {
	vertical-align: top;
}

.sub {
	background-color: #EDD7B5;
}

.right {
	text-align: right;
	font-style: italic;
	vertical-align: middle;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: .4em;
	margin-bottom: .4em;
}


/**LINKS**/
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #F3779A;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #F3779A;
}

a:hover, a:focus, a:active { 
	font-weight: bold;
	color: #F3CBD0;
}

a:link img, a:visited img {
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

a:hover img, a:focus img, a:active img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
