html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: url(../images/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #31384D;
	font-size: 15px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/**HEADERS & CONTENT**/
h1 {
	font-weight: bold;
	font-size: 50px;
	vertical-align: middle;
	text-indent: .5em;
}

h2 {
	text-align: right;
	font-size: 1em;
}

h3 {
	font-size: 30px;
	font-weight: bold;
	border-style: none none double none;
}

/**SECTIONS**/
.top {
	color: #A47163;
	background-color: #31384D;
	padding: .1em;
}

header {
	width: 100%;
	margin:0;
	padding: 0;
}

nav {
	width: 100%;
}

article {
	padding: 1em;
}

section {
	background-color: #F0F1F3;
	width: 650px;
	min-height: 100%;
	margin: auto;
}

#avatar {
	margin: 1em;
	float: left;
	border-radius: 5em;
	width: 150px;
}

#cat {
	margin: 1em;
	float: right;
	border-radius: 5em;
	width: 150px;
}


p {
	vertical-align: top;
	text-align: justify;
	text-indent: 1em;
}

/**NAV UL**/
nav ul{
	height: auto;
	list-style-type: none;
}

nav li{
	margin-left: .3em;
	margin-right: .3em;
	display: inline-block;
	vertical-align: middle;
}

nav img {
	width: 36px;
	height: 36px;
}

/**TABLE STUFF**/
table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	background-color: #F5579E;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid black;
}

td {
	vertical-align: top;
	padding: .5em;
}

.sub {
	background-color: #F4CBEC;
}

.right {
	text-align: right;
	font-style: italic;
	vertical-align: middle;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: .4em;
	margin-bottom: .4em;
}

.nav-right {
	margin-left: 12em;
}


/**LINKS**/
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #1AA882;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #1AA882;
}

a:hover, a:focus, a:active { 
	font-weight: bold;
	color: #4FC5A5;
}

a:link img, a:visited img {
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

a:hover img, a:focus img, a:active img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
