<table>
	<tbody>
		<tr class="table-content">
			

			<td class="main">
			
				<img id="avatar" src="{{site.baseurl}}/images/avatar.jpg" alt="Maria Deslis">
		</td>
		<td class="main">
			<p>
My name is <b>Maria Deslis</b> and I am an <b></b>amalgalm of engineer and artist</b>.
				<b>I am currently a graduate student at CU Boulder under the ATLAS MS-CTD (Creative Technologies and Design) program.</b>
				<p>
				"CTD graduates are creative problem solvers. Through project-based learning, students
				gain technical fluency, designing systems and products to realize their creative visions. CTD students are not just
				design thinkers; they’re creative technologists equipped with portfolios of thoughtful projects and prototypes."
				<a href="https://www.colorado.edu/atlas/academics/graduate-programs/ms-creative-technologies-design-track" target="_blank"><b>- CU Boulder ATLAS MS-CTD</b></a>
				</p>
			</p>
			<p>
				I have done full stack software/web/mobile development most of my life. 
				What I am intrigued by and enjoy the most, however, is front-end part of coding, 
				such as user interface and design. I like making it intuitive, inviting, and enganging to users - 
				especially when it comes to video games. 
				I firmly believe that video games have the 
				<a href="http://www.ted.com/talks/jane_mcgonigal_gaming_can_make_a_better_world" target="_blank">
					power to change the world for the better</a> and my goal is to one day have my games in the world
					and be a part of the gaming industry.
				I am working on achieving these goals through my Master's program and beyond!
			</p>
			</td>
		</tr>
		<tr class="table-content">
			<td class="main" colspan="2">
I am currently studying 3D Printing, Arduino projects, and Design Methods.
			</td>
		</tr>
		<tr class="table-content">
<td class="main">
	<p>
		In my free time I love:
		<ul>
			<li>Gaming</li>
			<li>Crafting and Inventing</li>
			<li>Painting and Drawing</li>
			<li>Playing Piano</li>
			<li>Swimming and Hiking</li>
			<li>Playing Pokemon GO</li>
			<li>Anything Sailor Moon related</li>
			<li>The Cosmos</li>
		</ul>
	</p>
</td>
			<td class="main">
				<img id="cat" src="{{site.baseurl}}/images/cat.jpg" alt="Patio the Cat-io">
<center>Patio The Cat-io</center>
		</td>
		</tr>
	</tbody>
</table>
