<table>
	<tbody>
		<tr class="table-content">
			<td class="main" colspan="2">
				<center>
					<h3>Anti-Anxiety/Meditation Bracelets</h3>
				</center>
			</td>
		</tr>
		<tr class="table-content">
			<td class="main" colspan="2">
				<center>
					Collaboration
					<br/>
					<video width="75%" height="350" controls>
<source src="{{site.baseurl}}/projects/anxietyBracelets/start.mp4" type="video/mp4">
						Your browser does not support the video tag. Try FireFox instead.
					</video>
					<br />
					<br />
					Here Peter attempts to change the NeoPixels from flashing red to blue by taking deep breaths to calm himself
				</center>
			</td>
		</tr>
		<tr class="table-content">
			<td class="main" colspan="2">
				<p>
				After getting more comfortable with Arduino programming, I wanted to try to see if I could get multiple pieces of hardware to talk
				to each other. I challenged myself to make a bracelet or accessory that would have NeoPixels on it that would reflect your current
				heart rate. 
				<br />
				<br />
				<ul>
					<li>
				Blue is a calm/normal heart rate.
				</li>
				<li>
				Purple means your heart is speeding up.
				</li>
				<li>
				Red means high heart rate, consider taking deep breaths.
				</li>
				</ul>
</p>
			</td>
		</tr>
<tr class="table-content">
	<td class="main">
		<p>
		We were able to get data about an individual's heart rate by using a Pulse Sensor that we found on Amazon. We connected the Pulse Sensor and NeoPixels
		into an arduino. We sent the data from the Pulse Sensor into the Arduino, and the Arduino sent the data into our code and gave feedback to the NeoPixels, 
		allowing it to flash and change lights in sync with your heart rate.
		<br />
		This heart pulse sensor was a simpler version of the the heart pulse sensor that hospitals have on patient's fingers. 
</p>
	</td>
	<td>
		<center>
<img width="256px" height="256px" src="{{site.baseurl}}/projects/anxietyBracelets/sensor.jpg"
alt="Pulse Sensor"></center>
	</td>
</tr>
		<tr class="table-content">
			<td class="main">
				<center>
<video width="250" height="350" controls>
<source src="{{site.baseurl}}/projects/anxietyBracelets/explain.mp4" type="video/mp4">
Your browser does not support the video tag. Try FireFox instead.
</video>
</center>
			</td>
			<td>
				<p>
				My goal in life is to create things that will help people heal and improve themselves.
				<br />
				<br />
				I created the Anti-Anxiety Bracelets because I myself suffer from a lot of anxiety, and often times I wish
				I had a visual representation to help others understand me more.
				<Br />
				<br />
				I also see lots of opportunity to turn these into Meditation Bracelets. This way, the more focused you are on your breath and staying calm the more calm the lights can be too.
</p>
			</td>
		</tr>
<tr class="table-content">
	<td class="main" colspan="2">
		<center>
			Completed Proof of Concept
			<br />
			<video width="75%" height="350" controls>
				<source src="{{site.baseurl}}/projects/anxietyBracelets/final.mp4" type="video/mp4">
Your browser does not support the video tag. Try FireFox instead.
			</video>
		</center>
	</td>
</tr>
		<!-- <tr class="table-content">
			<td class="main" colspan="2">
				<center> Check out the source code!
					<br />
					<a href="{{site.baseurl}}/projects/processingSelfPortrait/deslis_lab1.html" alt="Source Code">Self Portrait Source Code</a>
				</center>
			</td>
			</tr> -->
	</tbody>
</table>
