<table id="education">
	<thead>
		<tr>
			<td colspan="2">Education</td>
		</tr>
	</thead>
	<tbody>
<tr class="sub">
	<td class="left"><b>ATLAS CU BOULDER</b>&nbsp;Boulder,Co</td>
	<td class="right">MS May 2020</td>
</tr>
<tr class="table-content">
	<td colspan="left">Master of Creative Technology and Design</td>
	<td colspan="right"></td>
</tr>
		<tr class="sub">
			<td class="left"><b>Colorado School of Mines</b>&nbsp;Golden,Co</td>
			<td class="right">BS Dec 2014</td>
		</tr>
	<tr class="table-content">
			<td colspan="left">Bachelor of Science: Math and Computer Science </td>
			<td colspan="right"></td>
		</tr>
	</tbody>
</table>