<table id="experience">
				<thead>
					<tr>
						<td colspan="2">Relevant Experience</td>
					</tr>
				</thead>
				<tbody>
					<tr class="sub">
						<td class="left">Created Android App: "Aleksandra"</td>
						<td class="right">Summer 2014</td>
					</tr>
					<tr>
						<td colspan="2">
							<ul>
								<li><b>Client:</b>The Giving Child</li>
								<li><b>Goal:</b> Create an engaging and well-designed game to teach and empower children to help their peers around the world
								</li>
								<li><b>Learned:</b> How to work with developers from the client's side</li>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">LDS Executive Coaching: Website</td>
						<td class="right">Spring 2014</td>
					</tr>
					<tr>
						<td colspan="2">
							<ul>
								<li><b>Client:</b>Dr. Elia Gourgouris and Gail Halladay</li>
								<li><b>Goal:</b>Create a professional looking website that will show his skills and allow customers to request his services
								</li>
								<li><b>Learned:</b>Client/Dev communication, Secure Forms, Prepared Statements in PHP</li>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">Created Android App:"Revolution:H<sub>2</sub>O</td>
						<td class="right">Summer 2013</td>
					</tr>
					<tr>
						<td colspan="2">
							<ul>
								<li><b>Client:</b>The Giving Child</li>
								<li><b>Goal:</b>Engage, educate, and empower children to help their peers with the water crisis
								</li>
								<li><b>Learned:</b>Agile,Scrum, Mobile Dev,Gimp,AndEngine, AndEnginePhysicsBox2DExtensions</li>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">FIRST Robotics, Team 1245, Lead Web Design</td>
						<td class="right">2007-2009</td>
					</tr>
					<tr>
						<td colspan="2">
							<ul>
								<li>Recieved award Senior Year for Website Design and Coding (2009)</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
			<table id="employment">
				<thead>
					<tr>
						<td colspan="2">Employment</td>
					</tr>
				</thead>
				<tbody>
					<tr class="sub">
						<td class="left">Websites, Elia Gourgouris</td>
						<td class="right">Spring 2014-current</td>
					</tr>
					<tr>
						<td>
							<ul>
								<li>LDS Executive Coaching Site</li>
								<ul>
									<li>www.ldsexecutivecoaching.com
									</li>
								</ul>
						</td>
						<td>
							<ul>
								<li>Book Website</li>
									<ul>
										<li>CURRENT PROJECT</li>
									</ul>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">Colorado School of Mines</td>
						<td class="right">Fall 2013-current</td>
					</tr>
					<tr>
						<td>
							<ul>
								<li>CS Department Grader</li>
								<li>Graduate Office Assistant</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Office of International Programs, Website Admin</li>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">Internship:ME-Engineers, Wheat Ridge, Co
						</td>
						<td class="right">Feb-Oct 2012</td>
					</tr>
					<tr>
						<td>
							<ul>
								<li>IT-Technician Intern</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Assistant Database Admin</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>