<table id="employment">
	<thead>
		<tr>
			<td colspan="2">Employment</td>
		</tr>
	</thead>
	<tbody>
		<tr class="sub">
			<td class="left"><b>Clean Energy Collective</b>,​  Louisville,Co</td>
			<td class="right">​​ March  2016 - April 2017</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><b>Title:</b> .Net Developer</li> 
					<li><b>Dev Role:</b> Work on web and mobile applications for utility building for solar panels as well as help 
						with internal company software. Facilitate learning for junior developers as well as  help keep communication 
						going between seniors and juniors </li>
						<li><b>Learned:</b> ​Angular JS, Full-Stack Development, MVC, Bug fixing</b></li>
						<li><b>Received “HOT SHOT!” award</b></li>
					</ul>
				</td>
			</tr>
			<tr class="sub">
				<td class="left"><b>Tyler Technologies</b>,  Lakewood,Co </td>
				<td class="right">​Jan 2015 - March  2016</td>
			</tr>
			<tr>
				<td colspan="2">
					<ul>
						<li><b>Title:</b> Software Developer</li>
						<li><b>Dev Role</b> Contribute to updating and maintaining the Incode 10 Parcel Tax Management software product</li> 
						<li><b>Learned:</b> .NET Development, LINQ </li>
						<li><b>Received 2nd place in internal company code competition</b></li>
					</ul>
				</td>
			</tr>
			<tr class="sub">
				<td class="left"><b>LDS Executive Coaching​</b> , Superior, CO</td>
				<td class="right">​Jan - March 2014</td>
			</tr>
			<tr>
				<td colspan="2">
					<ul>
						<li><b>Client: ​</b>  Dr. Elia Gourgouris and Gail Halladay
							&nbsp;&nbsp;&nbsp;http://www.ldsexecutivecoaching.com </li>
							<li><b>Client Goal:</b>  ​ Create a professional looking website that will show his skills and work
							</li>
							<li><b>Dev Role: ​</b>  Use HTML, CSS, Javascript and PHP to create a website the client needed and 
								was satisfied with</li>
								<li><b>Learned:</b>Client/Dev communication,Secure Forms and Prepared Statements in PHP</li>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">LDS Executive Coaching: Website</td>
						<td class="right">Spring 2014</td>
					</tr>
					<tr>
						<td colspan="2">
							<ul>
								<li><b>Client:</b>Dr. Elia Gourgouris and Gail Halladay</li>
								<li><b>Dev Goal:</b>Create a professional looking website that will show his skills and allow customers to request his services
								</li>
								<li><b>Learned:</b>Client/Dev communication,PHP basics</li>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">Colorado School of Mines</td>
						<td class="right">Fall 2013</td>
					</tr>
					<tr>
						<td>
							<ul>
								<li>CS Department Grader</li>
								<li>Graduate Office Assistant</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Office of International Programs, Website Admin</li>
							</ul>
						</td>
					</tr>
					<tr class="sub">
						<td class="left">Internship:ME-Engineers, Wheat Ridge, Co
						</td>
						<td class="right">Feb-Oct 2012</td>
					</tr>
					<tr>
						<td>
							<ul>
								<li>IT-Technician Intern</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Assistant Database Admin</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
			<table id="experience">
				<thead>
					<tr>
						<td colspan="2">Relevant Experience</td>
					</tr>
				</thead>
				<tbody>
					<tr class="sub">
						<td class="left"><b>Field Session, Mentorship</b>, Golden,Co</td>
						<td class="right">Summer 2014, Summer 2015 </td>
					</tr>
					<tr>
						<td colspan="2">
							<ul>
								<li><b>Client:</b>The Giving Child</li>
								<li><b>Client Goal:</b> ​ Engage, educate, and empower children to help their peers in crisis
								</li>
								<li><b>Dev Goal:</b> Mentor current group of developers to guide them to create the app requested 
									of them from the client as well as give any resources and knowledge they needed to complete 
									their tasks </li>
									<li><b>Learned:</b> How to work with developers from the client's side</li>
								</ul>
							</td>
						</tr>
						
						<tr class="sub">
							<td class="left">Created Android App:"Revolution:H<sub>2</sub>O</td>
							<td class="right">Summer 2013</td>
						</tr>
						<tr>
							<td colspan="2">
								<ul>
									<li><b>Client:</b>The Giving Child</li>
									<li><b>Goal:</b>Engage, educate, and empower children to help their peers with the water crisis
									</li>
									<li><b>Learned:</b>Agile, Scrum, Mobile Dev,Gimp,AndEngine, AndEnginePhysicsBox2DExtensions</li>
								</ul>
							</td>
						</tr>
						<tr class="sub">
							<td class="left">FIRST Robotics, Team 1245, Lead Web Design</td>
							<td class="right">2007-2009</td>
						</tr>
						<tr>
							<td colspan="2">
								<ul>
									<li>Recieved award Senior Year for Website Design and Coding (2009)</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>