<table>
	<thead>
		<tr>
		<td colspan="2">
			<h2>Relevant Experience</h2>
		</td>
		</tr>
	</thead>
	<tbody>
		<tr id="colored">
			<td id="titleL">
				Created Android App: "Aleksandra"
			</td>
			<td id="date">
				Summer 2014
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
<li>Client: The Giving Child</li>
<li>Client Goal: Engage and educate about the importance of education</li>
<li>Developer Goal: Create an engaging and well-designed game for the client to achieve client's goal; <b>focused on graphics</b></li>
<li>Player Goal: Help Aleksandra trade and get better animals so she can get a book</li>
<li>Used: Gimp</li>
<li>Learned: how to work with developers from the client's side</li>
				</ul>
			</td>
		</tr>
		<tr id="colored">
			<td id="titleL">
				LDS Executive Coaching: Website
			</td>
			<td id="date">
				Spring 2014
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
<li>Client: Dr. Elia Gourgouris and Gail Halladay</li>
<li>Client Goal: Create a professional looking website that will show his skills and work</li>
<li>Developer Goal: Create professional website that the  client wanted and was satisfied with</li>
<li>Learned: Client/Developer communication, secure forms, prepared statements in PHP</li>
				</ul>
			</td>
		</tr>
		<tr id="colored">
			<td id="titleL">
				Field Session,Created Android App: "Revolution:H<sub>2</sub>O"
			</td>
			<td id="date">
				Summer 2013
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
<li>Client: The Giving Child</li>
<li>Client Goal: Engage, educate, and empower children to help their peers with the water crisis</li>
<li>Developer Goal: Create an engaging and well-designed game for the client to achieve client's goal</li>
<li>Player Goal: Help Aleksandra trade and get better animals so she can get a book</li>
<li>Used: AndEngine,AndEnginePhysicsBox2DExtensions,GitHub,Eclipse,Android</li>
<li>Learned: Agile,Scrum,Mobile Dev</li>
				</ul>
			</td>
		</tr>
		<tr id="colored">
			<td id="titleL">
				EPICS 1: Create Wind Energy for the City of Golden
			</td>
			<td id="date">
				Spring 2010
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
<li>Researching specification of materials available, cost, and portability of unit</li>
<li>Designed parts/models using SolidWorks</li>
<li>Meeting/Communication with clients and learning what they wanted in the product</li>
<li>Presenting proposal in technical paper and public presentation</li>
				</ul>
			</td>
		</tr>
		<tr id="colored">
			<td id="titleL">
				FIRST Robotics, Team 1245, Lead Web  Design and Coding
			</td>
			<td id="date">
				2007-2009
			</td>
		</tr>
		<tr id="colored">
			<td colspan="2">
				<ul>
<li>Recieved Award Senior Year for Website Design and Coding (2009)</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<thead>
		<tr>
			<td colspan="2">Employment</td>
		</tr>
	</thead>
	<tbody>
		<tr id="colored">
			<td>Websites, Elia Gourgouris</td>
			<td id="date">Spring 2014-current</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
<li>LDS Executive Coaching Site</li>
<ul><li><a href="http://www.ldsexecutivecoaching.com/" target="_blank">http://www.ldsexecutivecoaching.com/</a></li></ul>
<li>Book Website</li>
<ul><li><b>CURRENT PROJECT</b></li></ul>
				</ul>
			</td>
		</tr>
		<tr id="colored">
			<td>Colorado School of Mines</td>
			<td id="date">Fall 2013-current</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li>CS Department Grader</li>
					<li>Graduate Office Assistant</li>
					<li>Office of Internation Programs Website Admin</li>
				</ul>
			</td>
		</tr>
		<tr id="colored">
			<td> Internship:ME-Engineers, Wheat Ridge, Co</td>
			<td id="date"> Feb-Oct 2012</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li>IT-Technician Intern</li>
					<li>Assistant Database Admin</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>