<table>
	<tbody>
		<tr>
			<td class="main" colspan="2">
				<h5>
					<center>.<b>Engineer</b>.<b>Artist</b>.<b>Creator</b>.</center>
				</h5>
			</td>
		</tr>
<tr class="table-content">
<td class="project">
<a href="{{site.baseurl}}/bracelets.html">
	<img src="{{site.baseurl}}/projects/anxietyBracelets/thumbnail.jpg" alt="Anxiety/Meditation Bracelets">
</a>
<br />
<center>Anxiety/Meditation Bracelets</center>
			</td>
<!-- 
<td class="project">
<a href="{{site.baseurl}}/paperlamp.html">
	<img src="{{site.baseurl}}/projects/delicatePaperCode/thumbnail.jpg" alt="Paper Light">
</a>
<br />
<center>Paper Light</center>
			</td> -->

<td class="project">
<a href="{{site.baseurl}}/selfportrait.html">
<img src="{{site.baseurl}}/projects/processingSelfPortrait/thumbnail.jpg" alt="Self Portrait">
</a>
<br />
<center>Processing : Self-Portrait</center>
			</td>
		</tr>
	</tbody>
</table>
