<table>
	<tbody>
		<tr>
			<td class="main" colspan="2">
				<h5>
					<center>.<b>Engineer</b>.<b>Artist</b>.<b>Creator</b>.</center>
				</h5>
			</td>
		</tr>
<tr class="table-content">
<td class="project">
<a href="{{site.baseurl}}/bracelets.html">
	<img src="{{site.baseurl}}/projects/anxietyBracelets/thumbnail.jpg" alt="Anxiety/Meditation Bracelets">
</a>
<br />
<center>Anxiety/Meditation Bracelets</center>
			</td>
<td class="project">
<a href="{{site.baseurl}}/selfportrait.html">
<img src="{{site.baseurl}}/projects/processingSelfPortrait/thumbnail.jpg" alt="Self Portrait">
</a>
<br />
<center>Processing : Self-Portrait</center>
			</td>
		</tr>
        <!--

    <td class="project">
<a href="{{site.baseurl}}/mellenials.html">
	<img src="{{site.baseurl}}/projects/anxietyBracelets/thumbnail.jpg" alt="ME-LLENIAL BOARD GAME">
</a>
<br />
<center>ME-LLENIALS Board Game</center>
			</td>
    -->
<tr class="table-content">
 <td class="project" colspan="2">
<a href="{{site.baseurl}}/independentStudy.html">
<img src="{{site.baseurl}}/projects/independentStudy/thumbnail.png" alt="Basic Game Level Design">
</a>
<br />
<center>Learning Unity : My First Level</center>
</td>
</tr>
	</tbody>
</table>
