<h2>Welcome</h2>
<div class="TextWrapRight">
<img id="avatar" src="{{site.baseurl}}/images/avatar.jpg" alt="Maria Deslis" />
My name is Maria Deslis and I am student majoring in Computer Science.  I love coding, drawing/painting, playing video games, and making people laugh. I most enjoy doing the front-end part of coding, such as user interface and design, and I hope one day I can take all the stories in my head and turn them into video games. My goal is to one day have my games in the world and hopefully one day be apart of the gaming industry; I have recently started learning PyGame so as to reach that goal one day.
</div>
