<table>
	<tbody>
		<tr class="table-content">
			<td class="main" colspan="2">
<center><h3>Teaching Myself How to Make a Level in Unity</h3></center>
			</td>
		</tr>
		<tr class="table-content">
			<td class="main">
				<p>
			Becoming a game designer/developer is my dream in life. However, I was always very nervous about making game as a professional.
            I always felt I was behind since I did not go to a game design/development university program. I have a more traditional
                    coding/software development background. 
			<br />
			<br />
            I wanted to break the cycle and start building my skills and work to pursue my goals. I found a wonderful site called <a href="https://www.udemy.com/" target="_blank" alt="Udemy">Udemy.co</a>
                    which is an online learning site that teaches almost any subject you want to learn! All you have to do is put the work in!
			<br />
			<br />
			</td>
			<td class="main">
<img src="{{site.baseurl}}/projects/independentStudy/treesCabin.png" alt="I made dis!" width="325px" height=300px">
			</td>
		</tr>
		<tr class="table-content">
			<td class="main">
<img src="{{site.baseurl}}/projects/independentStudy/mountainRain.png" alt="I made dis!" width="350px" height=300px">
			</td>
			<td>
				<p>
				I chose and purchased a course called "Become a Game Designer the Complete Series Coding to Design". It was a course
                    that was covered all aspects of a making a game. From the code, to the level design to the blender/Maya animations.
				<br />
                    <br/>
                    <br />
				So, long story short, I took the time to learn the nuances in coding for Unity and ended up making a simple and easy level. There
                   is not so much a play as it is just environment building. In this demo level, I was able to apply the knowledge of what I had learned so far into
                    one place.
                    <br />
                    <br/>
                    This included terrain and material building, sound effects and programming, light effects and programming, water animation and basic walking functionality for the player.
</p>
			</td>
            <tr class="table-content">
                <td>
                    <p>
                        <center>
                The level is not a completely original design by me to be clear. It is a level I builty as I learned. However, I found it
                    very impressive considering a month before I dove into the course I knew nothing about how to even use Unity - now I can make quick overworlds and tinker
                    with them to my hearts content in a moments notice!
                        <br/>
                        <br/>
                        <br/>
                    Please click the link below to open a new tab and walk around!
                        <br />
                        <br/>
        <b>Controls : </b>Mouse to look around, WASD or Arrows to move around
                        <br/>
<br/>
                        <button type="button" onclick="window.open('{{site.baseurl}}/myLevel/','_blank')" style="font-size : 20px; width: 60%; height: 50px;" >
                            Play Me!
                        </button>
                            </center>
                    </p>
                </td>
                <td class="main">
<img src="{{site.baseurl}}/projects/independentStudy/lake.png" alt="I made dis!" width="325px" height=300px">
			</td>
            </tr>
		</tr>
<!-- <tr class="table-content">
			<td class="main" colspan="2">
				<center> Check out the source code!
					<br />
					<a href="{{site.baseurl}}/projects/processingSelfPortrait/deslis_lab1.html" alt="Source Code">Self Portrait Source Code</a>
				</center>
			</td>
			</tr> -->
	</tbody>
</table>
