<nav>
	<ul>
		<li><a href="{{site.baseurl}}/index.html">Home</a></li>
		<li><a href="{{site.baseurl}}/education.html">Education</a></li>
		<li><a href="{{site.baseurl}}/experience.html">Experience</a></li>
		<li><a href="{{site.baseurl}}/skills.html">Skills</a></li>
		<li><a href="{{site.baseurl}}/other.html">Other</a></li>
		<li><a href="{{site/baseurl}}/print/mdeslisResume.pdf">[Print Version]</a></li>
		<li><a href="https://github.com/eternalearth888" target="_blank"><img src="{{site.baseurl}}/images/github.png" alt="github.com/eternalearth888"</a></li>
		<li><a href="mailto:mdeslis@gmail.com"><img src="{{site.baseurl}}/images/gmail.png" alt="Email me!"></a></li>
	</ul>
</nav>