
<table>
	<thead>
		<tr>
			<td colspan="2">
				<h2>Activities/Philanthropic Service</h2>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr id="colored">
			<td colspan="2">Philanthropy</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li>Day Out With Thomas</li>
					<li>Louisville Library</li>
					<li>Girl Scout Badge Day</li>
					<li>Habitat for Humanity</li>								</ul>
			</td>
		</tr>
		<tr id="colored">
			<td>ACM-W</td>
			<td id="date">September 2012-current</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li>Member,Vice President</li>
				</ul>
				<ul>
					<li>Code Wars</li>
					<li>Google Games</li>
					<li>Microsoft International Women's Hackathon</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>