<table id="activities">
				<thead>
					<tr>
						<td colspan="2">
							Philanthropic Service
						</td>
					</tr>
				</thead>
				<tbody>
					<tr class="table-content">
						<td>
							<ul>
								<li>Day Out With Thomas</li>
								<li>Louisville Library</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Girl Scout Badge Day</li>
								<li>Habitat for Humanity</li>
							</ul>
						</td>
					</tr>
					<thead>
						<tr>
							<td colspan="2">
								Activities
							</td>
						</tr>
					</thead>
					<tr class="sub">
						<td class="left">ACM-W</td>
						<td class="right">September 2012-Dec 2014</td>
					</tr>
					<tr class="table-content">
						<td>
							<ul>
								<li>Member, Vice President</li>
								<li>Microsoft Intl. Women's Hackathon</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Code Wars</li>
								<li>Google Games</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>