<table>
	<tbody>
		<tr class="table-content">
			<td class="main" colspan="2">
				<center>
					<h3>Neural Paper Lamp</h3>
				</center>
			</td>
		</tr>
		<tr class="table-content">
			<td class="main">
				This was the first sketch/program I created using an IDE called Processing. This piece of software
				allowed me to visualize what my code was doing since Processing is designed with artists in mind.
				<br />
				<br />
				Rather than create a traditional self-portrait, I sketched (as it's called in processing) my self-portrait by using
				graphics and symbols to represent myself instead.
				<br />
				<br />
				<a href="https://processing.org/" target="_blank">Processing.org</a>
			</td>
			<td class="main">
<img src="{{site.baseurl}}/projects/delicatePaperCode/pde-256.png" alt="Self Portrait">
			</td>
		</tr>
		<tr class="table-content">
			<td class="main">
<img src="{{site.baseurl}}/projects/delicatePaperCode/paperlightvideo.mp4" border-right="1px solid #31384D" alt="Self Portrait">
			</td>
			<td>
				Sailor Moon has been a huge part of my identity for as long as I remember. On top of that, my father has worked for
				JPL/NASA. Thus, from a young age
				I have always felt an intense connection to the cosmos and celestial beings in space. Even when they have fictional
				versions of them like
				Pluto from Mickey Mouse or the Sailor Senshi themselves.
				<br />
				So to emulate both of these, I created two circles, one within the other too look like the old school style of the
				Sailor Moon crescent design.
				Meanwhile, in the background, you can see stars appear and fade into the background. More and more stars show up
				and continue to fade. The stars
				are actually a bunch of tiny ellipses being drawn, and when the next set of stars is to be drawn, I drew light pink
				layer over the previous set of
				stars and draw on the new set and repeat.

			</td>
		</tr>
		<!-- <tr class="table-content">
			<td class="main" colspan="2">
				<center> Check out the source code!
					<br />
					<a href="{{site.baseurl}}/projects/processingSelfPortrait/deslis_lab1.html" alt="Source Code">Self Portrait Source Code</a>
				</center>
			</td>
			</tr> -->
	</tbody>
</table>
