<table>
	<thead>
		<tr>
			<td colspan="3">
				<h2>Skills/Strengths</h2>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr id="colored">
			<td id="titleC">Languages</td>
			<td id="titleC">Web Design</td>
			<td id="titleC">Software</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Java [intermediate]</li>
					<li>FORTRAN [intermediate]</li>
					<li>SQL [intermediate]</li>
					<li>Linux/Unix Bash [proficient - intermediate]</li>
					<li>C/C++ [proficient]</li>
					<li>Ruby [novice]</li>
					<li>Python [novice]</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>HTML [intermediate]</li>
					<li>CSS [intermediate]</li>
					<li>PHP [intermediate</li>
					<li>JavaScript [proficient - intermediate]</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>Adobe CS4-CS6 [intermediate]</li>
					<li>GIMP [intermediate]</li>
				</ul>
			</td>
		</tr>
		<tr id="colored">
			<td id="titleC">Operating Systems</td>
			<td id="titleC">Communication</td>
			<td id="titleC">Other</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li>Linux/Unix</li>
					<li>Windows</li>
					<ul>
						<li>95</li>
						<li>2000</li>
						<li>XP</li>
						<li>Vista</li>
						<li>7</li>
						<li>8</li>
					</ul>
				</ul>
			</td>
			<td>
				<ul>
					<li>International</li>
					<ul>
						<li>Greek [Fluent]</li>
						<li>French [Proficient]</li>
					</ul>
					<li>Strong public speaking</li>
					<li>Strong technical/non-technical writing</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>Strong Art/Design skills</li>
					<li>Team/Leadership skills</li>
					<li>Problem Solving/Critical Thinking Skills</li>
					<li>Organized</li>
					<li>Detail Oriented</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>