<!DOCTYPE HTML>
<html lang="en-ca">
	<head>
		<meta charset="utf-8">
		<title>My Resume</title>
	</head>
	<body>
		<header>
				<h1>Maria Deslis</h1>
				<nav>
					<ul>
						<li><a href="{{site.baseurl}}/index.html">Home</a></li>
						<li><a href="{{site.baseurl}}/test.html">Test</a></li>
					</ul>
				</nav>
		</header>
		<div class="wrapper">
			<section>
				{{content}}
			</section>
			<article>
				<ul>
					<li>Maria Deslis</li>
					<li><a href="https://github.com/eternalearth888" target="_blank">github.com/eternalearth888</a></li>
					<li><a href="mailto:mdeslis@gmail.com">mdeslis@gmail.com</a></li>
				</ul>
			</article>
		</div>
		<footer>
			Footer
		</footer>
	</body>
</html>
