<!DOCTYPE HTML>
<html lang="en-ca">
	<head>
		<meta charset="utf-8">
		<title>My Resume</title>
		<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	</head>
	<body>
		<section>
			<div class="top">
				<header>
					<h1>Maria Deslis</h1>
					<a href="https://github.com/eternalearth888" target="_blank"><img src="{{site.baseurl}}/images/github.png" alt="github.com/eternalearth888"</a>
					<a href="mailto:mdeslis@gmail.com"><img src="{{site.baseurl}}/images/gmail.png" alt="Email me!"></a>
				</header>
				{% include nav.html %}
			</div>
			<article>
				{{content}}
			</article>
		</section>
	</body>
</html>
