<!DOCTYPE HTML>
<html lang="en-ca">
	<head>
		<meta charset="utf-8">
		<title>Maria Deslis</title>
		<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
		<!--CODE BLOCK-->
		<link rel="stylesheet" href="{{site.baseurl}}/highlight/styles/rainbow.css">
		<script src="{{site.baseurl}}/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</head>
	<body>
		<section>
			<div class="top">
				{% include header.html %}
				{% include nav.html %}
			</div>
			<article>
				{{content}}
			</article>			
			{% include footer.html %}
		</section>
	</body>
</html>
